In [1]:
1;1

1

In [2]:
1+1

2

In [3]:
a=[1,2,3,4,5]

合計/データ数

In [4]:
合計/データ数

NameError: name '合計' is not defined

In [5]:
合計＝順番に足した結果

SyntaxError: invalid character in identifier (<ipython-input-5-960e916dc94b>, line 1)

In [6]:
s=0
for x in a:
    s=s+x
s

15

In [7]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [10]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

printというのは単に画面にプリントするもの．

（forというのはaの中のものをpとして取り出す．）　

リストaの各要素をpと呼び　pをprintする．

In [12]:
a=[1,2,3,4,5]

for p in a:
    print('hello')
    print('world')

hello
world
hello
world
hello
world
hello
world
hello
world

In [15]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
  print(val)

5349
5478
5344
4644
4968
6259

In [16]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for yabuki in list_tohoku:
 print(yabuki)

5349
5478
5344
4644
4968
6259

In [17]:
a

[1, 2, 3, 4, 5]

In [18]:
s=0

for x in a:
    s=s+x
    
s

15

In [19]:
a

[1, 2, 3, 4, 5]

In [20]:
s=0

for x in a:
    s=s+x
    
s/5

3.0

/5とやると要素が５の時しか使えないから， len(a)を使う．

In [21]:
s=0

for x in a:
    s=s+x
    
s/len(a)

3.0

In [26]:
avg_tohoku = 0.0

for val in list_tohoku:
 avg_tohoku += val

avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [27]:
s=0

for x in a:
    s=s+x
    
s/len(a)

3.0

In [28]:
s

15

In [29]:
s=0

for x in a:
    s=s+x
    
s/=len(a)

In [30]:
s

3.0

/=にすると合計値が残らず　sが平均値になる．

In [31]:
list_shikoku = [3148, 2991, 2966, 2457]

In [32]:
(3148+2991+2966+2457)/4

2890.5

In [34]:
s= 0.0

for val in list_tohoku:
 s += val

s /= len(list_tohoku)
print(s)

5340.333333333333

In [36]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s+=x
    
s/len(list_shikoku)

2890.5

In [37]:
from statistics import *

statisticsは統計関係全部持ってこいということ．

In [40]:
mean(list_shikoku)

2890.5

In [41]:
mean([1,2,3,4,5])

3

In [42]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [46]:
dic={'A':100,'B':20,'C':3000}

In [47]:
dic['A']

100

In [48]:
for key in dic:
    print(key)

A
B
C

dicは左のAなどのkeyの部分だけを取り出す．

In [52]:
for key in dict_tohoku:　
 print(key)

SyntaxError: invalid character in identifier (<ipython-input-52-18b5f84a0ff7>, line 1)

In [53]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [58]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s+=dict_tohoku[x]

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1,[5,4,3,2]の平均
2,{'A':10,'B':100,'C':1000}の値の平均
3,{10:'A',100'B',1000:'C'}のキーの平均

In [60]:
s=0
a=[5,4,3,2]

for x in a:
    s+=x
    
s/len(a)

3.5

In [61]:
mean(a)

3.5

In [62]:
s=0
a={'A':10,'B':100,'C':1000}

for x in a:
    s+=a[x]
    
s/len(a)

370.0

In [67]:
mean(a.values())

370

上ふたつが９９の答え

In [71]:
s=0
a={10:'A',100:'B',1000:'C'}

for x in a:
    s += x
    
s/len(a)

370.0